/* style effectif sur le body qui met la police de couleur blanche et utilise la famille "Maximum Impact" */
body {
    color: #fff;
    font-family: Maximum Impact;
}

/* Rend transparent la scrollbar de la section recommandation */
::-webkit-scrollbar {
    background: transparent;
}

/* Change la couleur de fond de cette même scrollbar et applique des bord arrondis */
::-webkit-scrollbar-thumb:horizontal {
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: 10px;
}